if status is-interactive
    # Commands to run in interactive sessions can go here
end

set ALTFISH {{ .alt_fish }}

if [ "$ALTFISH" != "" ]
    source $ALTFISH
end


set -gx PATH $HOME/.cargo/bin $PATH

alias ll='ls -l'
alias lla='ls -al'
alias llt='ls -altr'

{{- if eq .role "work" }}
set -gx DEVENV {{ .devenv }}
set -gx DEVENVAL2 {{ .devenv_al2 }}

alias dev-env='ssh $DEVENV'
alias dev-env-al2='ssh $DEVENVAL2'
alias auth='{{ .auth_cmd }}'
{{- end }}

{{- if eq .role "home" }}
alias npm='pnpm'
{{- end }}




alias ws='cd {{.code_repo}}'

alias llt='eza --tree --level 15 -l'
alias lt='eza --tree --level 15'

alias h='history 0'
alias hFind='h | grep -i'

alias gs='git status'
alias gb='git branch -a'
alias gco='git checkout'
alias gclean='git clean -xdf'
alias grs1='git reset HEAD~'
function gitRecur
  find . -type d -depth 1 -exec git --git-dir={}/.git --work-tree=$PWD/{} $argv \;
end

function stgRecur
  find . -type d -depth 1 -exec stg -C {} $argv \;
end

alias wUnison='watch "ps -ef | grep unison | grep -v grep"'

zoxide init fish | source
set -gx PATH $HOME/.toolbox/bin $PATH

